name: Multi-job workflow

on: push

jobs:

 build-job:
  runs-on: ubuntu-latest
  steps:
    - name: checkout codebase
      uses: actions/checkout@v5
    
    - name: list all files
      run: ls -lart

    - name: Sleep for 30 seconds
      run: sleep 30

 test-job:
  runs-on: ubuntu-latest
  needs: build-job
  steps:

   - name: List files for debugging
     run: ls -lart

   - name: Display README content
     run: cat README.md
  
   - name: Sleep for 10 seconds
     run: sleep 10

 deploy-job:
  runs-on: ubuntu-latest
  needs: test-job
  steps:
   - name: Deploy step
     run: cat README.md | grep 'demo'