name: Multi-job workflow

on: push

jobs:

 build-job:
  runs-on: ubuntu-latest
  steps:
    
    - name: list all files
      run: ls -lart
    
    - name: install curl
      run: sudo apt-get install curl

    - name: Sleep for 30 seconds
      run: sleep 30

 test-job:
  needs: build-job
  runs-on: ubuntu-latest

  steps:

   - name: List files for debugging
     run: ls -lart

   - name: check curl version
     run: curl --version
  
   - name: Sleep for 10 seconds
     run: sleep 10

 deploy-job:
  needs: test-job
  runs-on: ubuntu-latest
  
  steps:
   - name: Deploy step
     run: curl --version >> ./version.txt